input[type=text], select, textarea, input[type=radio], input[type=checkbox]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.fi {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.se {
    float: left;
    width: 75%;
    margin-top: 6px;
    margin-bottom: 10px;

}
.i{
    border-radius: 12px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #463C3C;
}
.i:hover{
    background-color: #FF6347;
}